*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	position: relative;
	top:50px;
	display: block;
	justify-content: center;
	align-items: center; 
	height: 80vh;
	background: #e8e8e3;
	width: 100%;
}
.contact-all{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-infor{
	color: black;
	max-width:500px;
	line-height: 50px;
	padding-left: 50px;
	font-size: 18px;
}
.contact-infor i{
	margin-right: 20px;
	font-size: 25px;
	color: black;
	display:flex;
}
.contact-infor .social{
	margin: 40px 40px;
	display: flex;
}
.contact-infor .social i{
	font-family: 30px;
	padding: 0px 10px;
	
}
.contact-infor .social i:hover{
	background: #b0a100;
	color: #fff;
}
.contact-form{
	max-width: 700px;
	margin-right: 50px;

}
.contact-infor, .contact-form{
	flex: 1;
}
.contact-form .text-box{
	
	height: 50px;
	width: 300px;
	padding: 12px;
	margin-bottom: 20px;
	border-radius: 5px;
	
	color: #fff;
}
.contact-form textarea{
	
	color: #fff;

	width: 100%;
	padding: 12px;
	font-size: 15px;
	min-height: 200px;
	max-height: 400px;
	resize: vertical;
	border-radius: 5px;
}
.contact-form .btn{
	float: right;
	color: #fff;
	width: 120px;
	height: 40px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 5px;
	cursor: pointer;
	background: #fcc80d;
}