footer{
    display:block;
    background-color: black;
    color: white;
    padding: 15px;
    position:absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
.row{
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 50px;
}
.col-6{
	padding-left: 50px;
}